.search-city-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.search-city {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.show-favorite-listCity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.showFavoriteCity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.select-city {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
}

.show-city {
  color: #fff;
  background-color: #1976d2;
}

.show-favorite-citys {
  flex: 1;
}
.box {
  overflow: scroll;
}
